<div class="container">

    <p *ngIf='didLogin'>
        Welcome! Get started <a [routerLink]="'/'">here</a>.<br/><br/>
    </p>
    <p *ngIf='tokenExists'>
    You are already logged in! Would you like to <a routerLink='/logout'>logout</a>?

        </p>
    <p>
        <mat-icon svgIcon="love" aria-hidden="false"></mat-icon>
    </p>

    <form *ngIf='!userData && !tokenExists' [formGroup]='loginForm' #ourLoginDir='ngForm' (submit)='handleSubmit($event, ourLoginDir, loginForm)'>
        <p *ngIf='loginErrors'>{{ loginErrors }}</p>
        <mat-card-content>
            <mat-form-field>
                <input type="text" matInput placeholder="Username or Email" formControlName="usernameField" />
                <div *ngIf='usernameField.invalid && (usernameField.dirty || usernameField.touched)'>
                <mat-error *ngIf='usernameField.errors.required'>
                  Password is required.
                </mat-error>
                <mat-error *ngIf='usernameField.errors.maxlength'>
                   Max length is 280
                </mat-error>
                <mat-error *ngIf='usernameField.errors.minlength'>
                  Min length is 4
                </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="passwordField" [type]="hide ? 'password' : 'text'" />
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <div *ngIf='passwordField.invalid && (passwordField.dirty || passwordField.touched)'>
                    <mat-error *ngIf='passwordField.errors.required'>
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf='passwordField.errors.maxlength'>
                        Max length is 280
                    </mat-error>
                    <mat-error *ngIf='passwordField.errors.minlength'>
                        Min length is 4
                    </mat-error>
                </div>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">{{ 'loginLabel' | translate }}</button>
            <button type="button" mat-raised-button color="warn" (click)="ourLoginDir.resetForm({})">{{ 'resetLabel' | translate }}</button>
        </mat-card-actions>
    </form>
    <!--<mat-form-field>
      <input type="email" matInput placeholder="Username or Email" [(ngModel)]="user.emailOrUsername" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address or username
      </mat-error>
      <mat-error *ngFor="let error of userService.errors.username">{{ error }}</mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>-->

  <!--<mat-form-field>
    <input type="password" matInput placeholder="Password" [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngFor="let error of userService.errors.password">{{ error }}</mat-error>
  </mat-form-field>-->

  <!--<button (click)="signin()" mat-raised-button>Login</button>-->
</div>
