/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}


@media (max-width: 450px) {
    .container {
        max-width: 320px;
    }
}
