/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 56px 16px 0 16px;
    justify-content: flex-start;
}
