<div class="container">
    <p>
        <mat-icon svgIcon="love" aria-hidden="false"></mat-icon>
    </p>
    <form [formGroup]="registerForm" #ourRegisterDir='ngForm' (submit)="handleSubmit($event, ourRegisterDir, registerForm)">
        <p *ngIf='loginErrors'>{{ loginErrors }}</p>

        <mat-card-content>
            <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="usernameField" />
                <div *ngIf='usernameField.invalid && (usernameField.dirty || usernameField.touched)'>
                <mat-error *ngIf='usernameField.errors.required'>
                  Username is required.
                </mat-error>
                <mat-error *ngIf='usernameField.errors.maxlength'>
                   Max length is 280
                </mat-error>
                <mat-error *ngIf='usernameField.errors.minlength'>
                  Min length is 4
                </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="emailField" />
                <div *ngIf='emailField.invalid && (emailField.dirty || emailField.touched)'>
                <mat-error *ngIf='emailField.errors.required'>
                  Username is required.
                </mat-error>
                <mat-error *ngIf='emailField.errors.maxlength'>
                   Max length is 280
                </mat-error>
                <mat-error *ngIf='emailField.errors.minlength'>
                  Min length is 4
                </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="passwordField" [type]="hide ? 'password' : 'text'" />
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <div *ngIf='passwordField.invalid && (passwordField.dirty || passwordField.touched)'>
                    <mat-error *ngIf='passwordField.errors.required'>
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf='passwordField.errors.maxlength'>
                        Max length is 280
                    </mat-error>
                    <mat-error *ngIf='passwordField.errors.minlength'>
                        Min length is 4
                    </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field>
                <input type="password" matInput placeholder="Confirm password" formControlName="passwordFieldVerification" [type]="hide ? 'password' : 'text'" />
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <div *ngIf='passwordFieldVerification.invalid && (passwordFieldVerification.dirty || passwordFieldVerification.touched)'>
                    <mat-error *ngIf='passwordFieldVerification.errors.required'>
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf='passwordFieldVerification.errors.maxlength'>
                        Max length is 280
                    </mat-error>
                    <mat-error *ngIf='passwordFieldVerification.errors.minlength'>
                        Min length is 4
                    </mat-error>
                </div>
            </mat-form-field>
        </mat-card-content>
        <br />
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">{{ 'registerLabel' | translate }}</button>
            <button type="button" mat-raised-button color="warn" (click)="ourRegisterDir.resetForm({})">{{ 'resetLabel' | translate }}</button>
        </mat-card-actions>
    </form>
    <p>
		<button mat-raised-button routerLink='/login'>{{ 'loginLabel' | translate }}</button>
	</p>

    <!--<mat-form-field>
        <input type="text" matInput placeholder="Username" [(ngModel)]="register.username">
    </mat-form-field>

    <mat-form-field>
        <input type="password" matInput placeholder="Password" [(ngModel)]="register.password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field>
        <input type="email" matInput placeholder="Email" [(ngModel)]="register.email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <button (click)="createAccount()" mat-raised-button>Register</button>-->
</div>
