$size: 60px;

mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}


.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}
