<div class="container">
    <p>
        <mat-icon svgIcon="love" aria-hidden="false"></mat-icon>
    </p>
    <form [formGroup]="registerForm" #ourRegisterDir='ngForm' (submit)="handleSubmit($event, ourRegisterDir, registerForm)">
        <p *ngIf='loginErrors'>{{ loginErrors.email }}</p>
        <p *ngIf='loginErrors'>{{ loginErrors.username }}</p>

        <div class="tp-container">
            <mat-form-field>
                <input type="text" maxlength="280" minlength="4" matInput placeholder="{{ 'labelUsername' | translate }}" formControlName="usernameField" />
                <div *ngIf='usernameField.invalid && (usernameField.dirty || usernameField.touched)'>
                <mat-error *ngIf='usernameField.errors.required'>
                  {{ 'labelUsernameRequired' | translate }}
                </mat-error>
                <mat-error *ngIf='usernameField.errors.maxlength'>
                   {{ 'labelMaxLength' | translate }} 280
                </mat-error>
                <mat-error *ngIf='usernameField.errors.minlength'>
                  {{ 'labelMinLength' | translate }}  4
                </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field>
                <input type="text" maxlength="280" minlength="4" matInput placeholder="{{ 'labelEmail' | translate }}" formControlName="emailField" />
                <div *ngIf='emailField.invalid && (emailField.dirty || emailField.touched)'>
                <mat-error *ngIf='emailField.errors.required'>
                 {{ 'labelEmailRequired' | translate }}
                </mat-error>
                <mat-error *ngIf='emailField.errors.maxlength'>
                    {{ 'labelMaxLength' | translate }} 280
                </mat-error>
                <mat-error *ngIf='emailField.errors.minlength'>
                  {{ 'labelMinLength' | translate }}  4
                </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field>
                <input type="password" maxlength="280" minlength="4" matInput placeholder="{{ 'labelPassword' | translate }}" formControlName="passwordField" [type]="hide ? 'password' : 'text'" />
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <div *ngIf='passwordField.invalid && (passwordField.dirty || passwordField.touched)'>
                    <mat-error *ngIf='passwordField.errors.required'>
                        {{ 'labelPasswordRequired' | translate }}
                    </mat-error>
                    <mat-error *ngIf='passwordField.errors.maxlength'>
                        {{ 'labelMaxLength' | translate }} 280
                    </mat-error>
                    <mat-error *ngIf='passwordField.errors.minlength'>
                        {{ 'labelMinLength' | translate }}  4
                    </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field>
                <input type="password"  maxlength="280" minlength="4" matInput placeholder="{{ 'labelPasswordConfirm' | translate }}" formControlName="passwordFieldVerification" [type]="hide2 ? 'password' : 'text'" />
                <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <div *ngIf='passwordFieldVerification.invalid && (passwordFieldVerification.dirty || passwordFieldVerification.touched)'>
                    <mat-error *ngIf='passwordFieldVerification.errors.required'>
                        {{ 'labelPasswordRequired' | translate }}
                    </mat-error>
                    <mat-error *ngIf='passwordFieldVerification.errors.maxlength'>
                        {{ 'labelMaxLength' | translate }} 280
                    </mat-error>
                    <mat-error *ngIf='passwordFieldVerification.errors.minlength'>
                        {{ 'labelMinLength' | translate }}  4
                    </mat-error>
                </div>
            </mat-form-field>
            <div>
                <label>{{ 'labelGender' | translate }}: </label>
                <mat-radio-group aria-label="Select an option" formControlName="genderField" class="radio-group">
                  <mat-radio-button class="radio-button" *ngFor="let gender of listResultGenders" [value]="gender.id">{{ gender.name }}</mat-radio-button>
                </mat-radio-group>
            </div>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">{{ 'registerLabel' | translate }}</button>
            <button type="button" mat-raised-button color="warn" (click)="ourRegisterDir.resetForm({})">{{ 'resetLabel' | translate }}</button>
        </mat-card-actions>
        </div>
    </form>
    <p>
		<button mat-raised-button routerLink='/login'>{{ 'loginLabel' | translate }}</button>
	</p>

    <!--<mat-form-field>
        <input type="text" matInput placeholder="Username" [(ngModel)]="register.username">
    </mat-form-field>

    <mat-form-field>
        <input type="password" matInput placeholder="Password" [(ngModel)]="register.password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field>
        <input type="email" matInput placeholder="Email" [(ngModel)]="register.email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <button (click)="createAccount()" mat-raised-button>Register</button>-->
</div>
